/erp-parent/erp-global/target
/erp-parent/erp-hr/target
/erp-parent/erp-masterData/target
/erp-parent/erp-order/target
/erp-parent/erp-permission/target
/erp-parent/erp-springboot/target
/erp-parent/erp-webapp/target
/erp-parent/erp-finance/target
/erp-parent/erp-dataset/target
/erp-parent/erp-inv/target
/erp-parent/erp-common/target
/erp-parent/erp-ledger/target
/erp-parent/erp-report/target
